<h1>Make a Cat Rental Request!</h1>
<h3>Rental request for: <%= @cat_rental_request.cat.name %></h3>

<%= form_for @cat_rental_request do |f| %>

  <input type="hidden" id='cat_id' name='cat_rental_request[cat_id]'
  value=<%= @cat_rental_request.cat_id%>>

  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
  <br>

  <%= f.label :end_date %>
  <%= f.date_field :end_date %>
  <br>

  <%= f.submit %>

<% end %>
